<!DOCTYPE html>
<html>
   <head>
      <title>ewayShops</title>
   </head>
   <body style="margin: 0 auto;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto; padding: 0;width:600px;box-shadow: 1px 0px 7px 0px #ccc;">
         
        <tr>
            <td colspan="2" style="padding:30px 0 10px 0px;text-align:center;"><img src="https://ewayshop.way2smile.com:5000/media/static/images/logo.png"></td>
         </tr>
         <tr>
            <td colspan="2" style="position:relative;"><img  src="https://ewayshop.way2smile.com:5000/media/static/images/banner2.png">
               <h4 style="position:absolute;top:0px;padding-left:30px;background-color:#72d826;color:#fff;padding: 12px 20px 12px 30px;font-size: 26px;">Hey,{{first_name}}<br>Thanks for Joining the eWayShops</h4>
            </td>
         </tr>
         <tr>
            <td colspan="2" style="text-align:center;font-size:24px;padding-top:30px;">Welcome, <span style="color:#72d826;">{{first_name}}</span></td>
         </tr>
         <tr>
            <td colspan="2" style="text-align:center;font-size: 24px;padding:20px;font-family: 'Google Sans', Roboto;font-weight: 300;">Login Details</td>
	    </tr>
	    <tr>
	        <td colspan="2" style="font-family: 'Google Sans', Roboto;text-align:center; font-size: 20px;padding:10px;font-weight:400;"><span style="font-weight: 500;">Username:</span> {{email}}</td>
	    </tr>
	    <tr>
	        <td colspan="2" style="font-family: 'Google Sans', Roboto;text-align:center; font-size: 20px;padding:10px;font-weight:400;"><span style="font-weight: 500;">Password:</span> {{password}}</td>
	    </tr>
         <tr>
            <td colspan="2" style="text-align:center;padding-top:60px;font-size:20px;">Feel free to give us a call anytime at <a style="font-size:20px;color:#000;font-weight:bold;" href="tel:9254151857">925-415-1857</a> or email us at <a style="font-size:20px;color:#000;font-weight:bold;" href="tel:9254151857">customerservice@ewayshops.com</a></td>
         </tr>
         <tr>
            <td colspan="2" style="text-align:center;font-size:20px;color:#72d826;padding:15px 0 60px 0;">We would be happy to help you.</td>
         </tr>
         <tr>
            <td colspan="2" style="text-align:center;font-size:24px;padding-top:30px;">All the Best</td>
         </tr>
         <tr style="background-color:#72d826;padding:15px 20px;">
            <td style="color:#fff;padding: 25px 20px;">Contact us for more information<br><span style="font-size:30px;color:#fff;font-weight:bold;">925-415-1857</span></td>
            <td style="text-align:right;padding-right: 30px;">
               <ul class="list-inline" style="padding-left: 0;list-style: none;margin-left: -5px;display: inline-flex;">
                  <li style="display: inline-block;padding-right:8px;padding-left:8px;"><a style="color:#fff;text-decoration:none;" href="#"><img style="width:25px;"  src="https://ewayshop.way2smile.com:5000/media/static/images/facebook.png"></a></li>
                  <li style="display: inline-block;padding-right:8px;padding-left:8px;"><a style="color:#fff;text-decoration:none;" href="#"><img style="width:25px;"  src="https://ewayshop.way2smile.com:5000/media/static/images/twitter.png"></a></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td colspan="2" style="text-align:center;padding:15px 0;font-size:18px;">copyright&copy; 2021.eWayShops</td>
         </tr>
      </table>
   </body>
</html>